* {
  font-family: sono, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3033;
  padding: 40px;
}

.fact-form {
  background-color: #525252;
  color: #ffffff;
  margin-bottom: 40px;
  padding: 16px 40px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: coiny;
  color: #f97316;
  /* margin-left: 10px; */
}

.logo {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 6px;
  gap: 16px;
}
.fact {
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #424242;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 15px;
  gap: 84px;
  justify-content: space;

  display: flex;
  align-items: center;
  /* border: 4px solid #ffffff; */

  /* padding: 3%;
  border-radius: 20px;
  margin: 3%; */
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  color: #ef4444;
  font-weight: bolder;
}

ul {
  list-style: none;
}

a {
  color: #14b8a6;
}

/* .fact-form {
  background-color: #424242;
  padding: 3%;
  border-radius: 20px;
  margin: 3%;
} */

.side-bar {
  background-color: #424242;
  border-radius: 20px;
  align-items: center;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center; /*vertical alignment */
  /*flexbox gives tools to align items vertically and horizontally*/
  justify-content: space-between; /*horizontal alignment*/
}

.logo {
  display: flex;
  align-items: center;
}
.share {
  font-family: coiny;
  padding: 15px;
  font-size: 15px;
  background-color: #eab308;
  border-radius: 15px;
}

.container {
  background-color: red;
}

/* .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.hidden {
  display: none !important;
}
